@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Space Mono";
  src: url("assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@keyframes anim-burger-1 {
  0% {
    transform: rotate(0deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform-origin: 0% 50%;
    transform: rotate(34deg);
  }
}
@keyframes anim-burger-2 {
  0% {
    transform: rotate(0deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform-origin: 0% 50%;
    transform: rotate(-34deg);
  }
}
@keyframes anim-burger-3 {
  0% {
    transform: rotate(34deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform-origin: 0% 50%;
    transform: rotate(0deg);
  }
}
@keyframes anim-burger-4 {
  0% {
    transform: rotate(-34deg);
    transform-origin: 0% 50%;
  }
  100% {
    transform-origin: 0% 50%;
    transform: rotate(0deg);
  }
}
@keyframes anim-burger-5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anim-burger-6 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-down {
  0% {
    transform: translate(0%, -150px);
    opacity: 0;
  }
  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
@keyframes fade-in-up-burg {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  99% {
    transform: translate(0%, -150px);
    opacity: 0;
  }
  100% {
    transform: translate(0%, -1500px);
    opacity: 0;
  }
}
body {
  font-family: "Space Mono";
  margin: 0;
  display: flex;
  justify-content: center;
}

.max-wid {
  max-width: 1440px;
  width: 1440px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
header .logo {
  width: clamp(16rem, 14.2143rem + 8.9286vw, 22.25rem);
}
header .logo .logo-nm {
  width: clamp(8.5rem, 7.0714rem + 7.1429vw, 13.5rem);
  margin-left: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
  margin-top: 30px;
}
header ul {
  display: flex;
  list-style-type: none;
  gap: 45px;
  margin-right: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
  margin-top: 30px;
}
header ul a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-weight 0.3s ease;
  color: #000000;
}
header ul a:visited {
  color: black;
}
header ul a:hover {
  font-weight: bold;
}
header .open-btn {
  display: none;
}
header .close-btn {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  gap: 86px;
  align-items: center;
  border-top: 1px solid black;
}
footer a {
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s ease;
}
footer a:visited {
  color: black;
}
footer a:hover {
  font-weight: bold;
}
footer p {
  margin: 0;
}

.single-photo {
  max-width: 100%;
}

.photo-descpic {
  display: flex;
  align-items: flex-end;
  margin-top: 38px;
  max-width: 84vw;
  gap: 20px;
  padding-left: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
  padding-right: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
}
.photo-descpic .photo-desc {
  width: 50%;
  padding-bottom: 37px;
  margin-bottom: 6px;
  border-bottom: 1px solid black;
}
.photo-descpic .photo-desc .photo-title {
  text-transform: uppercase;
  font-size: clamp(2.875rem, 2.5179rem + 1.7857vw, 4.125rem);
  font-style: italic;
  font-weight: 400;
  width: 350px;
  line-height: clamp(3rem, 2.8214rem + 0.8929vw, 3.625rem);
}
.photo-descpic .photo-desc p {
  font-size: 14px;
}
.photo-descpic .photo-desc p a {
  pointer-events: none;
  text-decoration: none;
  color: #000000;
}
.photo-descpic .photo-picture {
  width: 50%;
  height: 100%;
}
.photo-descpic .photo-picture .img-photo {
  width: 100%;
  height: 100%;
}

.photo-bottom {
  display: flex;
  max-width: 84vw;
  gap: 20px;
  border-bottom: 1px solid black;
  margin-left: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
  margin-right: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
}
.photo-bottom .photo-btm-left {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.photo-bottom .photo-btm-left p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  align-self: center;
  margin-right: 10px;
}
.photo-bottom .photo-btm-left .grey-button {
  border: none;
  background-color: #D8D8D8;
  padding: 0;
  height: 50px;
  width: 270px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
.photo-bottom .photo-btm-left .grey-button:hover {
  color: #ffffff;
  background-color: #000000;
  transform: scale(1.05);
}
.photo-bottom .photo-btm-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 8px;
  padding-bottom: 21px;
}
.photo-bottom .photo-btm-right .photos-arrow {
  width: 80px;
  align-self: flex-end;
}
.photo-bottom .photo-btm-right .photos-arrow .photo-prev {
  display: none;
  align-self: flex-end;
  width: 80px;
  height: 70px;
  object-fit: cover;
}
.photo-bottom .photo-btm-right .photos-arrow .photo-next {
  display: none;
  align-self: flex-end;
  width: 80px;
  height: 70px;
  object-fit: cover;
}
.photo-bottom .photo-btm-right .photos-arrow .active-img {
  display: block;
}
.photo-bottom .photo-btm-right .arrows {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  width: 80px;
}
.photo-bottom .photo-btm-right .arrows .arrow {
  width: 25px;
}
.photo-bottom .photo-btm-right .arrows-alone {
  margin-top: 70px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-top: 5px;
}

.like-too {
  max-width: 84vw;
  margin-bottom: 100px;
  margin-left: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
  margin-right: clamp(2.5rem, 0.8929rem + 8.0357vw, 8.125rem);
}
.like-too p {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.like-too .photo-like-too {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main-page {
  max-width: 1440px;
  width: 100%;
}

.hero {
  background-size: cover;
  background-position: center;
  height: clamp(15.8rem, 3.1357rem + 63.3214vw, 60.125rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  margin: 0;
  font-size: clamp(1.71875rem, 0.4955rem + 6.1161vw, 6rem);
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.all-main {
  display: flex;
  flex-direction: column;
}
.all-main .filters {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 75px;
  margin-bottom: 40px;
  width: 84vw;
  max-width: 1150px;
}
.all-main .filters .first-filters {
  display: flex;
  gap: 36px;
}
.all-main .filters option {
  height: 42px;
  font-size: 14px;
  padding: 10px;
  background-color: #ffffff;
  color: #333333;
}
.all-main .photo-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 84vw;
  max-width: 1300px;
  gap: 20px;
  justify-content: center;
  align-self: center;
}

.grey-button {
  align-self: center;
  border: none;
  background-color: #D8D8D8;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 50px;
  width: 270px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
.grey-button:hover {
  color: #ffffff;
  background-color: #000000;
  transform: scale(1.05);
}

.no-more-photos {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

select {
  width: 260px;
  max-width: 260px;
  height: 42px;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  padding-left: 10px;
}

.select2 {
  position: relative;
  height: 45px;
  z-index: 5;
}
.select2 .selection {
  height: 42px;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
}
.select2 .selection .select2-selection--single {
  border-radius: 10px;
  display: flex;
  height: 42px;
}
.select2 .selection .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
  align-self: center;
}

.select2-container {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
}
.select2-container .select2-dropdown {
  border-radius: 10px;
  margin-top: 28px;
}
.select2-container .select2-dropdown .select2-results .select2-results__options {
  max-height: 500px;
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option {
  width: 227px;
  line-height: 42px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
}

body .select2-container--default .select2-results__option--selected {
  background-color: #E00000;
}

.select2-container--default .select2-results__option--clicked {
  background-color: #FFD6D6;
}

.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option:active {
  background-color: #FE5858;
}

body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #FFD6D6;
  color: #000000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow::after {
  content: "";
  background-image: url("./assets/images/arrow_down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 60%;
  right: 20px;
  transition: transform 0.3s ease;
}

.select2-container--default .select2-selection--single.select2-arrow-rotated .select2-selection__arrow::after {
  transform: translateY(-50%) rotate(-180deg);
}

body .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

@media screen and (max-width: 1024px) {
  .all-main .filters {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .all-main .filters .first-filters {
    flex-direction: column-reverse;
    gap: 8px;
  }
}
@media screen and (max-width: 767.8px) {
  .no-scroll {
    overflow-y: hidden;
  }
  header .header-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2001;
    top: 80px;
    width: 100vw;
    max-width: 1440px;
    height: 100vh;
    background-color: #E00000;
    font-size: 44px;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    gap: 30px;
  }
  header .header-menu a:visited {
    color: #ffffff;
  }
  header .active-menu {
    display: flex;
    animation: fade-in-down 1000ms;
  }
  header .no-active-menu {
    display: flex;
    animation: fade-in-up-burg 1000ms;
    animation-fill-mode: forwards;
  }
  header .open-btn {
    display: block;
    z-index: 5;
    position: absolute;
    right: 5vw;
    top: 70px;
    font-size: 36px;
  }
  header .open-btn:hover {
    cursor: pointer;
  }
  header .open-btn .burger-icon span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }
  header .close-btn {
    z-index: 5;
    display: none;
    position: absolute;
    right: 5vw;
    top: 70px;
    font-size: 36px;
  }
  header .close-btn:hover {
    cursor: pointer;
  }
  header .close-btn .burger-icon span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }
  header .open-close {
    display: block;
  }
  header .open-close .burger-icon #span-4 {
    animation: anim-burger-1 1s 1 ease;
    animation-fill-mode: forwards;
  }
  header .open-close .burger-icon #span-5 {
    animation: anim-burger-5 500ms 1 linear;
    animation-fill-mode: forwards;
  }
  header .open-close .burger-icon #span-6 {
    animation: anim-burger-2 1s 1 ease;
    animation-fill-mode: forwards;
  }
  header .close-open {
    display: none;
  }
  header .open-open {
    display: block;
  }
  header .open-open .burger-icon #span-1 {
    animation: anim-burger-3 1s 1 ease;
    animation-fill-mode: forwards;
  }
  header .open-open .burger-icon #span-2 {
    animation: anim-burger-6 500ms 1 linear;
    animation-fill-mode: forwards;
  }
  header .open-open .burger-icon #span-3 {
    animation: anim-burger-4 1s 1 ease;
    animation-fill-mode: forwards;
  }
  .single-photo {
    width: 100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .photo-descpic {
    width: 100vw;
    flex-direction: column-reverse;
    margin-top: 38px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .photo-descpic .photo-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: none;
  }
  .photo-descpic .photo-desc .photo-title {
    width: 280px;
    font-size: 36px;
  }
  .photo-descpic .photo-desc .desc-item {
    margin: 0;
  }
  .photo-descpic .photo-picture {
    width: 100%;
  }
  .photo-bottom {
    border-bottom: none;
    width: 100vw;
    max-width: 100vw;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0;
    justify-content: center;
  }
  .photo-bottom .photo-btm-left {
    margin-bottom: 20px;
    flex-direction: column;
    margin-top: 5px;
    box-sizing: content-box;
    width: 270px;
  }
  .photo-bottom .photo-btm-left p {
    align-self: flex-start;
  }
  .photo-bottom .photo-btm-left button {
    margin: 0;
    align-self: center;
  }
  .photo-bottom .photo-btm-right {
    display: none;
  }
  .like-too {
    width: 100vw;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 29px;
    margin-right: 29px;
    align-self: center;
  }
  .like-too p {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .like-too .photo-like-too {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }
  .like-too .photo-like-too div {
    width: 100%;
  }
  .all-main .all-pictures div {
    width: 100%;
  }
  .select2-container .select2-dropdown {
    margin-top: 42px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    text-transform: uppercase;
    gap: 24px;
    align-items: center;
    border-top: 1px solid black;
  }
  footer a {
    text-decoration: none;
    color: black;
  }
  footer a:visited {
    color: black;
  }
  footer p {
    margin: 0;
  }
}
.photo-block {
  position: relative;
  max-width: clamp(19.563rem, 1.635rem + 37.35vw, 35.25rem);
  width: 49%;
  overflow: hidden;
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
}
.photo-block .hover-photo {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.photo-block .hover-photo .comp-hover {
  position: absolute;
  z-index: 2;
  color: #ffffff;
}
.photo-block .hover-photo .eyes {
  cursor: pointer;
}
.photo-block .hover-photo .show-photo {
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.photo-block .hover-photo .hover-ref {
  bottom: 20px;
  left: 20px;
  font-family: "Poppins";
}
.photo-block .hover-photo .hover-cat {
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  font-family: "Space Mono";
}
.photo-block .hover-photo .hover-cat a {
  pointer-events: none;
  text-decoration: none;
  color: #ffffff;
}
.photo-block:hover .hover-photo {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}
.photo-block .photo-block-wrapper {
  position: relative;
  width: 100%;
  padding-top: 87.77%;
  overflow: hidden;
  background: #f0f0f0;
}
.photo-block .photo-block-wrapper .photo-block-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1440px) {
  .photo-block {
    width: 564px;
  }
  .photo-block .photo-block-wrapper {
    height: 495px;
    padding-top: 0;
  }
}
@media (max-width: 767.8px) {
  .photo-block {
    flex: 1 1 100%;
    max-width: 564px;
  }
  .photo-block:hover .hover-photo {
    display: none;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.modal .modal-content {
  background-color: #fefefe;
  padding-top: 15px;
  border: 4px solid black;
  width: 597px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal .modal-content .contact-title {
  align-self: center;
  width: 886px;
}
.modal .modal-content .contact-title-mobile {
  display: none;
}
.modal .modal-content .champs-modale {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
}
.modal .modal-content .champs-modale-1 {
  height: 40px;
  width: 257px;
}
.modal .modal-content .champs-modale-2 {
  width: 257px;
}

#wpcf7-f14-o1 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Poppins";
}
#wpcf7-f14-o1 form p {
  width: 269px;
}
#wpcf7-f14-o1 form p .has-spinner {
  border: none;
  background-color: #D8D8D8;
  padding: 0;
  height: 50px;
  width: 263px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
#wpcf7-f14-o1 form p .has-spinner:hover {
  color: #ffffff;
  background-color: #000000;
  transform: scale(1.05);
}

@media screen and (max-width: 767.8px) {
  .modal .modal-content {
    width: 286px;
  }
  .modal .modal-content .contact-title {
    display: none;
  }
  .modal .modal-content .contact-title-mobile {
    display: flex;
    align-self: center;
  }
  .modal .modal-content .champs-modale {
    width: 190px;
  }
  #wpcf7-f14-o1 form p {
    width: 190px;
  }
  #wpcf7-f14-o1 form p .has-spinner {
    width: 190px;
  }
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}
.lightbox .contain-nav-lightbox {
  display: flex;
  gap: 20px;
  width: 200px;
  height: 32px;
  top: 50%;
  margin-top: -14px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
}
.lightbox .contain-nav-lightbox:hover {
  opacity: 1;
}
.lightbox .contain-nav-lightbox:hover .nav-lightbox {
  font-weight: bold;
}
.lightbox .contain-nav-lightbox .nav-lightbox {
  height: 32px;
  background-color: transparent;
  border: none;
  font-family: "Space Mono";
  font-size: 12px;
  cursor: pointer;
}
.lightbox .contain-nav-lightbox .img-nav {
  width: 54px;
  height: 32px;
}
.lightbox .contain-right {
  right: 0;
  filter: invert(1);
  justify-content: end;
  margin-right: 15px;
}
.lightbox .contain-left {
  flex-direction: row-reverse;
  left: 0;
  filter: invert(1);
  justify-content: start;
  margin-left: 15px;
}
.lightbox .close-lightbox {
  width: 23px;
  height: 23px;
  right: 100px;
  top: 100px;
}
.lightbox .lightbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}
.lightbox .lightbox-container .lightbox-image {
  max-width: 80%;
  max-height: 110vh;
  height: auto;
}
.lightbox .lightbox-container .lightbox-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  z-index: 3;
}
.lightbox .lightbox-container .lightbox-info .hover-ref {
  text-align: left;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}
.lightbox .lightbox-container .lightbox-info .hover-cat {
  text-align: right;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
}
.lightbox .lightbox-container .lightbox-info .hover-cat a {
  pointer-events: none;
  text-decoration: none;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */